@font-face {
  font-family: 'DIN 1451 Std';
  font-style: normal;
  font-weight: 400;
  src: local('DIN 1451 Std'), url('https://fonts.cdnfonts.com/s/30936/DINMittelschriftStd.woff') format('woff');
}
