{{ define "main" }}
<main class="container flex-fill d-flex align-items-center">
  <div class="row align-items-center">
    {{ $image := (resources.Get "images/helmutlogo_long.pdf.png") }}
    <img src="{{ $image.RelPermalink }}" width="500" class="" alt="Logo">
    <!--<div class="col-sm-7">
      <h1 class="display-1 text-center text-sm-start text-lowercase">{{ .Title }}</h1>
      <p class="lead text-center text-sm-start">{{ .Description }}</p>
      {{ .Content }}
    </div>-->
  </div>
</main>
{{ end }}
